# VSCode settings
.vscode
*.code-workspace
.history/
.settings/
# Data files
data/*
!data/
data/original_pft_data/*
!data/original_pft_data/
data/regridded_pft_data/*
!data/regridded_pft_data/
data/era5_climate_data/*
!data/era5_climate_data/

figures/*
!figures/
